.program-section {
    padding: 100px 0;
}


.container .container-title {
    display: flex;
    background-color: azure;
    justify-content: center;
}

.program-box {
    border-radius: 66px;
    text-align: center;
    width: 688px;
    height: 98px;
}

.program-title {
    text-align: center;
    font-weight: 400;
    font-size: 50px;

}

.class-box {
    display: inline-flex;
    justify-content: center;
    align-content: space-around;
    background-color: #93c459;
   
    
    
}

.class-box img {
    border-radius: 0 0 150px 0;

}

.class-box div {
    display: flex;
    flex-direction: column;
    height: 513px;
    align-items: center;
}

.class-box span {
    color: var(--secondprimary);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}

.class-box p {
    color: var(--secondprimary);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}