.program-section {
    padding: 100px 0;
}

.program-title {
    text-align: center;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
    border-radius: 66px;
    background-color: #2F5700;


}

.class-box {
    display: inline-flex;
    justify-content: center;
    align-content: space-around;
    background-color: var(--primary);
    align-items: center;
    margin: 5px;
    
}

.class-box div {
    display: flex;
    flex-direction: column;
    
}

.class-box span {
    color: var(--secondprimary);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}

.class-box p {
    color: var(--secondprimary);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.imgleft {
    border-radius: 0 0 150px 0;
}

.imgright {
    border-radius: 0 0 0 150px;
}

.program-left {
    border-radius: 0 200px 0 200px;
    overflow: auto;
}

.program-right {
    border-radius: 200px 0 200px 0;
    overflow: auto;
}